<p id="notice"><%= notice %></p>

<h3 class="center bold">
  <%= @question.quiz.name %>
</h3>

<h5 class="center">
  <strong>Question:</strong>
  <%= @question.question_asked %>
</h5>

<br/><br/>

<!-- <table class="center-block">
  <thead>
    <tr>
      <th>#</th>
      <th>Answer</th>
    </tr>
  </thead> -->
<div class="center">
  <!-- <tbody> -->
    <% @answers.shuffle.each_with_index do |answer, index| %>
      <!-- <tr>
        <td class="bold-text"><%#= (index + 1) %></td>
        <td> -->
          <%#
            link_to_if(@next_question.nil?, answer.possible_answer, {controller: "quizzes", action: "summary", id: @question.quiz_id}) do
              link_to answer.possible_answer, {:controller => "questions", :action => "show", :id => @next_question}, :method => :get, :class => "possible_answer"
            end
          %>


          <%= button_to answer.possible_answer, {:controller => "questions", :action => "student_answer", :answer_id => answer.id, :question_id => answer.question_id, :id => @next_question}, :method => :post, :class => "btn-large waves-effect waves-light color#{index} lighten-1 fix-case bold-text" %>

          <%# link_to_if(@next_question.nil?, answer.possible_answer, {:controller => "questions", :action => "student_answer", :answer_id => answer.id, :question_id => answer.question_id, :id => @next_question}, :method => :post, :class => "possible_answer") do
          link_to answer.possible_answer, {:controller => "questions", :action => "student_answer", :answer_id => answer.id, :question_id => answer.question_id, :id => @next_question}, :method => :post, :class => "possible_answer"
          end %>

        <!-- </td>
      </tr> -->
      <br/>
    <% end %>
    
<!--   </tbody>
</table> -->
<br/>

<!-- <%#= link_to 'Edit', edit_question_path(@question) %> |
<%#= link_to 'Back', quiz_path(@question.quiz_id) %> |
<%#= link_to 'Summary', summary_path(@question.quiz_id) %> -->

</div>