<p id="notice"><%#= notice %></p>

<h1 class="header center red-text text-lighten-1 blur-shadow">Available Quizzes</h1>

<div class="center force-column">

    <% @quizzes.each do |quiz| %>
      <div class="center force-row">
        <h3><%= link_to quiz.name, quiz %></h3>
        <!-- <td><%# link_to 'Edit', edit_quiz_path(quiz) %></td> -->
        <!-- <td><%# link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        </div>
    <% end %>
    </div>
<br/>

<%#= link_to 'New Quiz', new_quiz_path %>
