<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center red-text text-lighten-1 blur-shadow">Welcome</h1>
        <div class="row center">
          <br><br>
        </div>
        <div class="row center">
         <% if current_user %>
              <a href="/quizzes" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">Let's Get Started</a>
            <% else %>
              <a href="/login" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">Let's Get Started</a>
            <% end %>
        </div>

      </div>
    </div>
  </div>