/*
 *= require_self
*/

html {
  background-image: url('books.jpg');
  background-repeat: none;
  background-size: 100%;
}

table {
  border-collapse: separate;
  width: 50%;
  
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#main_body {
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  height: 100%;
  position: absolute;
  max-width: none;
  width: 100%;
}

#left-buffer {
  height: 100%;
  position: fixed;
  max-width: none;
  width: 100px;
  margin-right: 100px;
}

.possible_answer {
  padding: 10px;
  color: red;
  background-color: rgba(255, 255, 255, 0.5);
}

.fix-case {
  text-transform: none;
}

.remove-padding {
  padding: none;
}

.blue:hover {
  background-color: #61C6FF !important;
}

.bold {
  font-weight: bold;
}

.bold-text {
  font-weight: bold;
  font-size: 1.2rem;
}

#email, #password, #student_first_name, #student_last_name, #student_email, #student_password {
  background-color: #fafafa;
  width: 50%;
  border-top: 0.5px solid #fff;
  border-left: 0.5px solid #fff;
  border-bottom: 2px solid #9e9e9e;
  border-right: 2px solid #9e9e9e;
}

.blur-shadow {
  text-shadow: 3px 3px 10px #aaa;
}

.color0 {
  background-color: #67DD17 !important;
}

.color1 {
  background-color: #F44336 !important;
}

.color2 {
  background-color: #2196F3 !important;
}

.color3 {
  background-color: #EF6C00 !important;
}

.force-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.force-row {
  display: flex;
  flex-direction: row;
  padding: 1em;
}